// COLORS
$white: #fff;
$bgColor: #19357d;
$buttonColor: #007bff;
$accentColor: #32ffff;


//TYPOGRAPHY
$ffPrimary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

// =====================================

// FONTS PX TO REM
$font56: 3.5rem;
$font40: 2.5rem;
$font32: 2rem;
$font28: 1.75rem;
$font24: 1.5rem;
$font22: 1.375rem;
$font20: 1.25rem;
$font18: 1.125rem;
$font16: 1rem;
$font15: 0.9375rem;
$font14: 0.875rem;
$font13: 0.8125rem;
$font12: 0.75rem;
$font10: 0.625rem;
$font8: 0.5rem;

// MEDIA MAX
$max1600: 100em;
$max1400: 87.5em;
$max1300: 81.25em;
$max1200: 75em;
$max1100: 68.75em;
$max1024: 64em;
$max992: 62em;
$max768: 48em;
$max640: 40em;
$max576: 36em;
$max480: 30em;
$max375: 23.4375em;

// MEDIA MIN
$min1601: 100.0626em;
$min1401: 87.5625em;
$min1301: 81.3125em;
$min1201: 75.0625em;
$min1025: 64.0625em;
$min993: 62.0625em;
$min769: 48.0625em;
$min641: 40.0625em;
$min577: 36.0625em;
$min481: 30.0625em;
$min376: 23.5em;
